@import 'tailwindcss';

:root{
  --velvet-crimson: #E91E63;
  --deep-charcoal: #1B1C1C;
  --soft-gold: #D4AF37;
  --cream: #FBF9F8;
  --stone: #F6F3F2;
  --mist-grey:#7B5734;
  --velvet-crimson-800: #C2185B;
}

body {
  margin: 0;
  color:var(--deep-charcoal);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bg-velvet-crimson{
  background-color:var(--velvet-crimson);
}
.bg-deep-charcoal{
  background-color: var(--deep-charcoal);
}
.bg-soft-gold{
  background-color: var(--soft-gold);
}
.bg-cream{
  background-color: var(--cream);
}
.bg-stone{
  background-color: var(--stone);
}
.bg-mist-grey{
  background-color: var(--mist-grey);
}

.text-velvet-crimson{
  color:var(--velvet-crimson);
}
.text-deep-charcoal{
  color: var(--deep-charcoal);
}
.text-soft-gold{
  color: var(--soft-gold);
}
.text-cream{
  color: var(--cream);
}
.text-stone{
  color: var(--stone);
}
.text-mist-grey{
  color: var(--mist-grey);
}

.text-velvet-crimson-800{
  font-weight: 800;
  color: var(--velvet-crimson-800);
}

.banner{
  min-height: 80vh;
}

.banner img{
  object-position: center;
}

.footer__copyright{
  background-color: var(--velvet-crimson);
  color: var(--cream);
}

.btn-tertiary{
  background-color: transparent;
  border: 1px solid var(--velvet-crimson);
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
}

.input{
  border: 1px solid #e6c1c6;
  transition: all 0.3s ease;
}